#map {
  float: left;
}

.xxx-1 {
  background-color: #231475;
  width: 6px;
  height: 6px;
  border: solid 1px;	
  float: left;
}

.xxx-0 {
  background-color: black;
  width: 6px;
  height: 6px;
  float: left;
}